    .navbar {
        background-color: #C96BAE;
    }
    
    .fs-16 {
        font-size: 16pt;
    }
    
    .text-color {
        color: antiquewhite;
    }
    
    a {
        cursor: pointer;
    }